---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";

const pageTitle = "Tintte Sustainable Colors";
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <Navbar />
  </header>

  <main>
    <Hero />
  </main>
</BaseLayout>
