---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar.astro";
import Product from "../components/Product.astro";
import Team from "../components/Team.astro";
import Footer from "../components/Footer.astro";

const pageTitle = "Tintte Sustainable Colors";
---

<BaseLayout pageTitle={pageTitle}>
  <header>
    <Navbar />
  </header>

  <main>
    <Hero />
    <Product />
    <Team />
    <Footer />
  </main>
</BaseLayout>
