---

---

<secttion
  id="hero"
  class="hero-section relative flex items-center justify-center h-screen overflow-hidden"
>
  <div class="w-2/3 text-center text-white z-10">
    <h1 class="text-5xl font-bold mb-4">Sustainable living colors</h1>
    <p class="text-xl">
      We are committed to reducing the textile industry's impact on the
      environment, which is why we innovate in the way pigments are produced and
      the way we dye
    </p>
  </div>
  <div class="absolute inset-0 z-0 mix-blend-darken">
    <img
      id="hero-image"
      src="/images/01.png"
      alt="Hero Image"
      class="hero-image"
    />
  </div>

  <script>
    import "../scripts/multiImgs.js";
  </script>
</secttion>
