---

---

<section
  id="product"
  class="product-section relative flex items-center justify-center h-screen overflow-hidden bg-cover bg-center"
>
  <div class="container text-center text-white z-10">
    <h2 class="text-3xl md:text-5xl font-bold mb-4">Our Products</h2>
    <p class="text-base md:text-xl">
      Explore our sustainable products and innovations in color technology.
    </p>
  </div>
  <div class="absolute inset-0 z-0 mix-blend-darken">
    <!-- Insert product-related image here -->
  </div>
</section>
