---

---

<section id="team" class="bg-white py-24 sm:py-32">
  <div class="mx-auto w-2/3 text-center">
    <div class="max-w-2xl mx-auto">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our team</h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        We’re a dynamic group of individuals with experience in science, industry, and business.
      </p>
    </div>
    <ul
      role="list"
      class="mt-20 grid gap-x-8 gap-y-16 sm:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3"
    >
      <li class="flex flex-col items-center">
        <img
          class="mx-auto h-24 w-24 rounded-full"
          src="/images/gf.png"
          alt="Gustavo Freytes portrait"
        />
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">
          <a href="https://www.linkedin.com/in/gustavofreytes/" class="hover:underline">
            Gustavo Freytes
          </a>
        </h3>
        <p class="text-sm leading-6 text-gray-600">Co-Founder & CEO</p>
        <p class="text-xs text-center leading-6 text-gray-400">
          Second-time founder. Attended the Innovation Experience program in
          Israel, the HIT by Endeavor, Google for Startups' ‘Impaqto’ and Acelera
          Latam G7.
        </p>
      </li>
      <li class="flex flex-col items-center">
        <img
          class="mx-auto h-24 w-24 rounded-full"
          src="/images/ra.png"
          alt="Rodrigo Asili portrait"
        />
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">
          <a href="https://www.linkedin.com/in/rodrigoasili/" class="hover:underline">
            Rodrigo Asili
          </a>
        </h3>
        <p class="text-sm leading-6 text-gray-600">Co-Founder / COO</p>
        <p class="text-xs text-center leading-6 text-gray-400">
          Microbiologist with extensive experience in the agro-industrial
          sector. Expert in sustainable production processes. Partner and
          R&D Director at Summabio.
        </p>
      </li>
      <li class="flex flex-col items-center">
        <img
          class="mx-auto h-24 w-24 rounded-full"
          src="/images/mm.png"
          alt="Magalí Mendez portrait"
        />
        <h3 class="mt-6 text-base font-semibold leading-7 tracking-tight text-gray-900">
          <a href="https://www.linkedin.com/in/magali-mendez/" class="hover:underline">
            Ma. Magalí Mendez
          </a>
        </h3>
        <p class="text-sm leading-6 text-gray-600">Co-Founder / CBO</p>
        <p class="text-xs text-center leading-6 text-gray-400">
          MA in Biodesign. Expert in sustainable design and product
          development. Participated in Seaworthy Collective’s Founder
          Mentorship Program.
        </p>
      </li>

      <!-- More people... -->
    </ul>
  </div>
</section>
